body {
    margin: 0;
    background-color: #131313;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}
#loading {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #131313;
    z-index: 10;
}
.loader {
    border: 6px solid #ccc;
    border-top: 6px solid #3f94fb;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
video {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    display: none;
    pointer-events: none;
}

@media only screen and (max-width: 768px) and (orientation: portrait) {
    video {
        position: relative;
        top: -50px;
    }
}